/* Variables */
$vertical-padding: 2rem;
$timeline-invisible-color: #e0e0e0;
$timeline-visible-color: #93acfd;
$timeline-zoom-visible-color: #5077f8;
$timeline-zoom-invisible-color: #757575;
$default-border: solid thin #444;
$overlay-background: rgba(0, 0, 0, 0.1);

/* Common */
* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #444;
    margin: 0;
}

/* Content */
#content {
    display: flex;
    flex-direction: column;
    padding-bottom: $vertical-padding;
}

canvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; // For elements to appear on top of the canvas
}

#canvas-fullscreen {
    pointer-events: none;
    z-index: 1;
}

/* Storyboard */
.storyboard-frame {
    position: relative;
    display: inline-block;
    border: $default-border;
    border-right: none;

    .scene {
        width: 256px;
        height: 256px;
    }

    .description {
        display:flex;
        justify-content:center;
        align-items:center;

        color: #888;
        font-family: sans-serif;
        font-size: large;
        padding: 0.25em;
        border-bottom: $default-border;
    }
}

.storyboard-row {
    display: flex;
    align-items:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2rem;
}

.row-frames {
    display: inherit;

    div:last-child.storyboard-frame {
        border-right: $default-border;
    }
}

.row-container {
    display: flex;
    flex-direction: column;
}

/* Timelines */
.frame-timeline {
    height: 25px;

    .frame-timeline-item {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        border: $default-border;
        border-right: none;
        background-color: $timeline-invisible-color;
    }
    
    .frame-visible {
        background-color: $timeline-visible-color;
    }

    .frame-zoom {
        background-color: $timeline-zoom-invisible-color;
    }

    .frame-zoom.frame-visible {
        background-color: $timeline-zoom-visible-color;
    }

    div:last-child.frame-timeline-item {
        border-right: $default-border;
    }
}

.timeline {
    height: 10px;
    margin-bottom: 3em; // Allow space for text
    display: flex;

    .timeline-item {
        display: inline-block;
        height: 100%;
        vertical-align: top;
        border-left: $default-border;
        background-color: rgba(0, 0, 0, 0);

        span {
            display: inline-block;
            transform: translate(-50%, 25%) /*rotate(-45deg)*/;
            font-size: 0.65em;
            text-align: center;
            white-space: pre;
        }
    }

    div:first-child.timeline-item {
        height: 20px;
    }

    div:last-child.timeline-item {
        border: none;
        border-right: $default-border;
        width: 0 !important;
        height: 20px;
    }

    div:first-child.timeline-item, div:last-child.timeline-item {
        span {
            transform: translate(-50%, 60%) /*rotate(-45deg)*/;
            font-size: 0.7em;
        }
    }
}

/* Buttons */
.btn-nav, .btn-settings {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    background: none;
}

/* Tooltips */
.tooltip-inner {
    white-space: pre-line; // Allow line breaks in tooltips
}

/* Overlay */
.overlay {
    display: inline-block;
    font-size: 60%;
    background-color: $overlay-background;
    padding: 5px;
}

/* Header */
header {
    text-align: center;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;

    #dataset {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        line-height: 3rem;
    }

    .btn-settings {
        vertical-align: middle;
    }
}

/* Modal */
.modal-body .form-group {
    font-size: 0.95em;

    label {
        margin-bottom: 0;
    }

    .form-line {
        display:flex;
        align-items:center;
        justify-content: space-between;
        padding-left: 2.4em;
        padding-right: 2.4em;

        select, input[type="number"] {
            width: 40%;
        }
    }
}
